[2021-06-09 06:32] kahilah opened #1 "Poor naming of /chemistrySolvers/ode_LAPACK"
At the moment the chemistrySolver type ode_LAPACK is poorly named. The code there is related to pyjac usage only and has nothing to do with Lapack. Hence, renaming should be done for ` chemistrySolvers/ode_LAPACK`

[2021-06-09 06:36] kahilah opened #2 "Proposing to drop EulerImplicit support"
At the moment we define `DLBEulerImplicitChemistrySolvers.C ` which is not really relevant from the practical use point of view. These parts could be dropped to simplify the code base.

[2021-06-09 06:56] kahilah opened #3 "Link tutorials to pre-compiled pyjac libraries"
At the moment user will be puzzled when he wants to run a pyjac tutorial and it's not possible without properly compiling and linking pyjac in the case folder. This is not desired.

Utilise the pre-compiled mechanism in similar way as in e.g. testing class so the tutorial is directly runnable.

[2021-06-09 06:59] kahilah opened #4 ""FAQ" part to README"
There should be a FAQ part in the README.

For example, from experience I know that when using pyjac, it is very easy to get an error:
[code]

README should state that in this occasion you pyjac library linkin is not established. Fix it like ....

[2021-06-10 07:14] kahilah opened #5 "Unification inputs with ct2foam outputs"
It would be extremely beneficial if the tests/validation and tutorials would share the thermo/mech inputs in the exactly same manner what ct2foam provides as standard output.

Would be much easier to understand for a new user who needs to learn the whole workflow.

[2021-06-10 09:10] blttkgl commented on #2
That's a fair point. Only point it was originally included was because I was following the standard OpenFOAM templating.

Fixed in commit 554e59d26253edc68b9e49704418609798bf6947

[2021-06-10 09:10] #2 closed, assigned to nobody

[2021-06-10 09:15] blttkgl commented on #1
I mean in practice the standard chemistry model of OpenFOAM can be used with the custom ODE solver which uses LAPACK. In that sense it makes sense to name it ode_LAPACK, instead of ode_pyJac. However I know that mixing ode_LAPACK with standard chemistry model does not really work (until now). There have been couple of bugfixes to standard Jacobian calculation in OpenFOAM-dev, so I suggest waiting

[2021-06-10 09:30] kahilah commented on #1
I agree that one could wait for OF9. However, that particular file is not related to whether you can use lapack or not, it is there to enable consistent ODE system generation w.r.t species numbering (N-1 in pyjac). Hence, the file naming is not related to lapack but to pyjac.

Using lapack with a standard solver is easily done but prevented by my additional ` if (yTemp_[0] <= NASAP_mintemp || yTem

[2021-06-10 16:31] blttkgl commented on #1
Hm, I didn't realize that you were preventing using LAPACK with the standard solvers! That's interesting. In that case I'd propose for OF9 release which is a month away and see if standard+LAPACK provides performance after the recent fixes. For the name convention I see your point now and we can think of a better way. @moreff  any thoughts?

[2021-06-10 19:31] moreff commented on #1
Ode solver might be not the best place to check the temperature limits anyway I think.
Do we need to check the temperature limits there? Can we move this check to ode_LAPACK or to pyJacLoadBalancedChemistryModel?

Regarding renaming, ode_pyJac sounds fine.

[2021-06-10 19:47] blttkgl commented on #1
It's not about checking temperature limits, it's an explicit block to prevent LAPACK solver to be used with the standard chemistry model. I think we can come back to this after some tests are done with OF-9, we can also fix the naming by then perhaps.

[2021-06-10 20:19] kahilah commented on #1
having the temperature check there is a proper and only way to prevent the ODE solver to go beyonds the thermodynamics limits. That's how it's done in many reference codes so if you have an ODE problem with constraints, the constraints should be taken into account withint the internal loops of the ODE solver as well to achieve correct solution on the first trial without returning anything to the C

[2021-06-11 13:57] blttkgl commented on #1
Sorry I just misunderstand your statement then. But let's focus on renaming the solver type within this issue for now. As I said if there is a possibility to combo standard+lapack then name would justify itself, however I'm open to ode_pyJac also ofc.

[2021-06-14 22:24] drhcelik opened #6 "Allwmake_Aalto fails compilation for Desktop platform"
Hello!

Allwmake_Aalto script doesn't compile the ODE_DLB library for the `DESKTOP` platform.

This issue can be solved by changing line 41 of the Allwmake_Aalto script from

`cp src/ODE_DLB/Make/options.desktop src/ODE_DLB/Make/options`

to

`cp src/ODE_DLB/Make/options.standalone src/ODE_DLB/Make/options`

Thanks!

[2021-06-17 00:28] blttkgl commented on #4
Hey folks, please comment here the most common error/warning messages you encounter when you forget to set something properly. @drhcelik perhaps you can get the ball rolling? For instance one common issue is the tutorial hanging in parallel because the user have both openblas and lapacke installed.

Can we assign this (and other tickets) to individuals and set deadlines if possible? We should be c

[2021-06-17 07:19] drhcelik commented on #4
Well, in addition to your comments, I can add this warning:
`could not open file mkl_lapack.h for source file ODESolvers/seulex_LAPACK/seulex_LAPACK.C due to No such file or directory
`

[2021-06-17 09:03] moreff commented on #4
Hi, thank you for your comments.
I'll reproduce these warnings on my machine and add these to the readme.
We will handle this issue along with others as soon as possible

[2021-06-26 14:33] moreff commented on #6
Hello,

Thank you, fixed now

[2021-06-26 14:33] #6 closed, assigned to nobody

[2021-06-26 23:48] blttkgl commented on #4
@drhcelik  that is not exactly a warning. There is a if else statement in the ODE class looking to see if you want to compile MKL or non-MKL. If you compile non-MKL, everything is fine but it still tries to find the mkl_lapack.h file within the if statement. I'm pretty sure there is a more elegant way to solve this. Maybe @kahilah  can suggest something.

[2021-06-26 23:50] blttkgl commented on #3
I am not so sure about this. In retrospect, the biggest issue new users face is generating and linking a mechanism succesfully. My 2₵ is we should integrate this process to the workflow up to succesfully running the tutorial so the user is familiar with how to do the linking. If we just automatically link the precompiled lib during compilation to the tutorial to avoid this, the user does not know

[2021-06-27 04:46] drhcelik commented on #4
Exactly @blttkgl, but maybe it can be ignored by a DLBFoam beginner level user safely till we find a better solution.

I was trying to get rid of that warning when I compiled DLBFoam for the first time as I didn't know this and I realized that if statement a bit later.

[2021-06-27 17:17] kahilah commented on #3
Whenever I face a new library or repository, the first thing what I want to do is to redo the references / tests or tutorials as such without learning too much of new things. I would drop a library if i can't run the first tutorial almost automatically...

We are anyway already compiling a test mech automatically so why not to use that directly one one tutorial. Would be soo much more clear for ne

[2021-06-27 17:21] kahilah commented on #4
It boils down to OpenFoam's wmake system (not the best one around) which produces this "feature".

[2021-06-28 21:11] #1 closed, assigned to nobody

[2021-06-28 21:40] #5 closed, assigned to moreff

[2021-06-30 21:07] drhcelik opened #9 "Allwmake_Aalto doesn't work for Puhti and Mahti"
Hey,

Allwmake_Aalto script doesn't compile the ODE_DLB library for the `PUHTI` and `MAHTI` platform.

This issue can be solved by changing appropriate lines of the Allwmake_Aalto script from

`cp src/ODE_DLB/Make/options.mahti src/ODE_DLB/Make/options`

to

`cp src/ODE_DLB/Make/options.openblas src/ODE_DLB/Make/options`

and

`cp src/ODE_DLB/Make/options.puhti src/ODE_DLB/Make/options`

to

`cp s

[2021-07-07 07:20] #9 closed, assigned to nobody

[2021-07-09 15:51] #3 closed, assigned to moreff

[2021-07-09 15:51] moreff commented on #4
FAQ section is now added to readme

[2021-07-09 15:51] #4 closed, assigned to nobody

[2021-08-11 15:45] drhcelik opened #14 "PYJAC_NSP error"
Hello,

I keep getting this error for a new mechanism file. I want to use the FFCM-1 mechanism and for that, I compiled everything using the ct2foam utility. I even compiled DLBFoam from scratch but it keeps saying that `/lib/libchemistryModel_DLB.so: undefined symbol: PYJAC_NSP`. How can I solve this problem? `chem.foam` and `therm.foam` in the foam_mech_files folder are also correct.

Thanks.

[2021-08-11 15:52] blttkgl commented on #14
Please check your chem_utils.h and chem_utils.c files in your pyJac build. ct2foam should generate two functions called PYJAC_NSP and PYJAC_FWD_RATES, that returns the number of species and reactions. If these functions are not there and you are absolutely sure that you are using ct2foam and not building the pyJac library yourself, the problem lies with the ct2foam, not DLBFoam.

[2021-08-11 15:55] drhcelik commented on #14
I found the problem. chem.foam should be in the format of

[code]

but somehow what I got from ct2foam was something like

[code]
So, that's why DLBFoam complains about it. I don't know if this was somehow my mistake or not. Anyway, I close this issue.

Thanks!

[2021-08-11 15:57] blttkgl commented on #14
Can you generate the mechanism once again using ct2foam and confirm that this is an issue with the mechanism generation process? If so we should address this.

[2021-08-11 17:58] kahilah commented on #14
I believe you have not run "pyjac2foam" command, because that will, or at least should rewrite the species list size accordingly. I'd like to believe you have used ct2foam only and that provides (as desired) only thermodynamic entries because nothing in the mechanism is changed (in contrast to pyjac2foam).

Could you read ct2foam README through and if still problems appear, make a issue there and

[2021-08-11 19:00] drhcelik commented on #14
@kahilah I got your point. Actually I have used both commands but probably, you are right; I mixed up the output files during OF runtime.

[2021-08-11 19:01] #14 closed, assigned to nobody

[2021-09-01 03:50] blttkgl opened #15 "[trivial] removing rankbased_solve figure"
I originally included this figure to be included in the README. However readme now has a gif of the same image, linked through an URL. so the figure can be removed from the repository.

[2021-11-10 17:31] mahgadalla opened #16 "seems that foam subdir is missing from constant/ in shear layer pyjac tutorial"
It seems that the mechanism data is missing in the shear layer pyJac tutorial?

[2021-11-10 18:00] mahgadalla commented on #16
Turned out that the mechanism subdir was actually copied to the tutorial after compilation using Allwmake. Therefore, I will close the issue!

[2021-11-10 18:00] #16 closed, assigned to nobody

[2022-03-07 13:38] srinu010896 commented on #14
Hello,

I am getting error while compiling the DLBFoam

g++ -std=c++11 -m64 -Dlinux64 -DWM_ARCH_OPTION=64 -DWM_DP -DWM_LABEL_SIZE=32 -Wall -Wextra -Wold-style-cast -Wnon-virtual-dtor -Wno-unused-parameter -Wno-invalid-offsetof -Wno-attributes -O3  -DNoRepository -ftemplate-depth-100 -I/opt/openfoam8/src/thermophysicalModels/reactionThermo/lnInclude -I/opt/openfoam8/src/thermophysicalModels/basic/l

[2022-03-07 16:45] moreff commented on #14
Hello @srinu010896 ,

It seems that the test chemical mechanism did not compile.
Could you please attach the full log as a file?

[2022-03-08 04:19] srinu010896 commented on #14
I am attaching file herewith please find the attachment....

Thank you
[Terminal.odt](https://github.com/Aalto-CFD/DLBFoam/files/8202714/Terminal.odt)

[2022-03-08 12:50] moreff commented on #14
[code]

It can't find a C++ compiler in your system. Please install/update it. If you have Ubuntu, run
[code]

[2022-03-10 04:07] srinu010896 commented on #14
Hai,
Good Morning.
I have updated C++ compiler and when i am again trying to compile the DLBFoam solver i am getting error as

/opt/openfoam8/platforms/linux64GccDPInt32Opt/lib/openmpi-system/libPstream.so: undefined reference to `ompi_mpi_comm_null'
collect2: error: ld returned 1 exit status
/opt/openfoam8/wmake/makefiles/general:140: recipe for target 'test.bin' failed
make: *** [test.bin] Error

[2022-03-14 05:29] srinu010896 commented on #14
Please help me in this.........

I have updated C++ compiler and when i am again trying to compile the DLBFoam solver i am getting error as

/opt/openfoam8/platforms/linux64GccDPInt32Opt/lib/openmpi-system/libPstream.so: undefined reference to `ompi_mpi_comm_null'
collect2: error: ld returned 1 exit status
/opt/openfoam8/wmake/makefiles/general:140: recipe for target 'test.bin' failed
make: *** [t

[2022-03-14 08:14] moreff commented on #14
Hi @srinu010896 , to me it looks like a problem with your OpenFOAM and/or MPI installation.
Check out e.g. [this thread](https://www.cfd-online.com/Forums/openfoam-installation/197390-openfoam-5-source-pack-installation-ubuntu-16-04-a.html).

[2022-03-17 13:03] srinu010896 commented on #14
Thanks a lot @ moreff, I have followed all your given suggestions

I was used before OpenFOAM8 in UBUNTU 16.04 for the DLBFoam compilation and found that MPI is not supporting with UBUNTU 16.04.
So, I have changed to UBUNTU 20.01LTS.
While I am compiling the DLBFoam now I am getting another error.

Could you please help me in this
I am attaching herewith log file for your reference

    -lchemistr

[2022-03-17 13:21] moreff commented on #14
Hi @srinu010896 , once again it seems like a problem with your MPI installation.
Check out this discussion: https://stackoverflow.com/a/33784179
Probably you have installed multiple MPI implementations to your system and there is a conflict between them.
You don't need to install MPI separately to your Ubuntu machine, it is present there by default.

[2022-03-18 06:14] srinu010896 commented on #14
Hai @moreff, Thanks a lot for your reply

Yeah, MPI is there in the system but while compiling I am getting the error: Error: MKL_ROOT= not found.

How to set this MKL_ROOT could you please help me

I have tried in many ways but not working it properly

I am attaching herewith log file of the MPI details

[Terminal.odt](https://github.com/Aalto-CFD/DLBFoam/files/8302030/Terminal.odt)

Thank you

[2022-03-18 15:49] moreff commented on #14
Hi @srinu010896 , it is a matter of installing MKL library, not DLBFoam. You can refer to its documentation.
Or alternatively, you can try the "standalone" option. Please refer to the readme of DLBFoam

[2022-03-21 09:10] srinu010896 commented on #14
Hai @moreff , Thank you so much....

I have used standalone option and it was compiled and also tested with the given tutorial.

When I am implementing with turbulence flow in reactingFoam I am getting error while using the command:
skd@skd:~/OpenFOAM/skd-8/run/asian$ mpirun -np $N_PROCS reactingFoam -parallel > log.reactingFoam
---------------------------------------------------------------------

[2022-03-21 09:28] kahilah commented on #14
Hi, sounds like your shell variable $N_PROCS is not set --> $N_PROCS returns empty --> "reactingFoam" becomes the -np input argument, which is naturally just wrong. Ensure you have the number of cores set there properly.

[2022-03-21 10:58] srinu010896 commented on #14
Thank you @kahilah for your response,
But while running the given tutorial load balancing happening with the same command.

[2022-03-21 11:14] kahilah commented on #14
The tutorials set NPROC explicitly. You need to set it yourself in your own applications. Or did I understand something wrong?

[2022-03-21 11:23] srinu010896 commented on #14
Actually I am very new to Linux as well as OpenFoam.I think you're correct. But I am not able to set it up. My pc having 8 core proc.
If you could tell me or suggest some material I am grateful to you.

Thank you

[2022-03-23 11:41] srinu010896 commented on #14
Hai,
I have followed the commands given in the Allrun and just changed the geometry but still I am still getting the same error.
/////////////////////////////////////////////
cd pyJac/lib
./runCmake.sh
cd -
cp -r pyJac/foam constant/
cp pyJac/lib/build/libc_pyjac.so constant/foam/

blockMesh
N_PROCS=$(grep ^cpu\\scores /proc/cpuinfo | uniq |  awk '{print $4}')
[ -z "$N_PROCS" ] && N_PROCS=4 # if N

[2022-03-23 14:40] moreff commented on #14
Hi, this question concerns Linux and OpenFOAM basics, not DLBFoam.
The answer is given in the error message and in the kahilah reply: you need to provide the number of cores to the "-np" option

[2022-03-24 12:14] srinu010896 commented on #14
Thank you everyone for your speedy kind replies.......

I am able to run the solver properly for my required problem

Thank you again......

[2022-04-20 14:04] DevinCharles opened #17 "libc_pyjac_test not built"
I haven't entirely tracked down what's happening here, but the build is failing because it can't link libc_pyjac_test.so. I find this in the build directory, but it's a symlink to itself. If I remove the symlink command in `runCmake.sh`, then it libc_pyjac_test.so does not exist.

[2022-04-21 09:04] moreff commented on #17
Hi,

Can you please provide more details, the error message, or attach the log file? For the original code, without any modifications

[2022-05-21 17:05] moreff opened #18 "OF9 version crashes when polynomial transport is used"
In OpenFOAM 9, a dynamic compilation of thermo and chemistry was introduced and some of the combinations are not compiled in standard library.
https://github.com/OpenFOAM/OpenFOAM-dev/commit/974712b2bdb05a1e2e736e61bca49a88cd08cda0

This leads to a crash when DLBFoam is used with e.g. polynomial transport:

[code]

[2022-05-21 17:05] #17 closed, assigned to nobody

[2022-05-24 13:52] blttkgl commented on #18
Out of curiosity, how does a user couple a given thermo and chemistry library now with the dynamic compilation? Do you just add the libraries you want to the controlDict and compile "dynamically"? If that is the case would that make the ode_pyJac available, or do you basically have to compile every combination on the standard library (which I guess defeats the purpose of this new feature) to make

[2022-05-30 13:15] kazumamatata opened #19 "DLBFoam v1.1 for OpenFoam ESI version ?"
Hello!

Currently I am planning to use DLBFoam for my research.
However our supercomputer does only support the ESI version of OpenFoam (v2106).
Is there any version of DLBFoam v1.1 for v2106 or v2006  that can be shared?

If not, how much would be the work load to implement the support for v2106?

[2022-05-30 14:53] mahgadalla commented on #19
Hi @kazumamatata
Unfortunately, currently the publicly available DLBFoam version supporting ESI (v2006) only implements dynamic load balancing, i.e. without all features comprising pyJac+LAPACK coupling.
If you would like to implement yourself, I may suggest to first implement the support for v2006 with pyJac and LAPACK. You may find it useful looking into the provided material in [this link](http

[2022-05-30 15:23] kazumamatata commented on #19
Thank you for your quick response.
The links might be very helpful for me!

Before I begin, I just want to ask, on your side there are no plans for implementing v1.1 for v2006 or other ESI versions?

[2022-05-30 16:18] mahgadalla commented on #19
Regarding future support plans, my colleague @moreff will better answer you!

[2022-05-30 16:19] moreff commented on #19
Hi @kazumamatata ,

Thank you for your message!
We were thinking about porting the v1.1 code to the ESI branch but it is not coming anytime soon, unfortunately.
Regarding workload, it is a tricky question, it can take up to several weeks I would say.

Also, consider installing/asking to install OpenFOAM 8/9 on the supercomputer.

[2022-05-31 02:40] kazumamatata commented on #19
@moreff
Thank you for your answer!
For now I think I will use v1.0 for v2006
I was just told from the staff from supercomputer center, that OpenFOAM 8/9 doesn't support MPI memory optimization, so it could lead to full memory in a large scale calculation. That was my only concern

[2022-05-31 02:41] #19 closed, assigned to nobody

[2022-06-10 12:06] kazumamatata opened #20 "Error in PSRTest (DLBFoam v1.1)"
Hello all,

During compilation of DLBFoam v1.1, I am facing a problem in the test after the compilation.
It would be nice if you could support me to solve this.

When executing `Allwmake` script, after the PSRTest section, there will be an error.

Allwmake (Excerpt):
[code]

Here is a part of the error message: (full log in the attachment)
[code]

My OpenFOAM version is 8 and it is compiled with i

[2022-06-10 13:12] kahilah commented on #20
It seems that all the other tests are passed except the last one which checks whether the loadBalance implementation results in sane error control if user inputs wrong number of species w.r.t used chemical mechanism. So that test should result in error, but in your case the error crashes the whole session and is not "caught". I'd guess this is related to, you use OF-8 and intel environment which a

[2022-06-13 08:38] kazumamatata commented on #20
Thanks for your answer! Here are some update:
Unfortunately, there was still the same errors in the tutorial simulation..

[code]

And there was this FOAM FATAL ERROR in the log.reactingFOAM:

[code]

But I guess that is more a problem of the cyclic BC. (Reference: https://www.cfd-online.com/Forums/openfoam-solving/199535-possible-memory-problem-foam-extend-4-0-a.html)
Did you got this error too?

[2022-06-13 08:44] kahilah commented on #20
Is the first error appearing when executing blockMesh? If yes, then the problem is with your OpenFOAM installation.

Note that foam-extend-4 is quite a different library than standard OpenFoam so wouldn't start to make any links between these issues.

Have you been able to compile and run the DLBFoam v1.0 version? So without pyJac acceleration?

Also attach the full log files that it's easier to s

[2022-06-13 20:25] blttkgl commented on #20
I also think that this may be related to the OpenFOAM installation. @kazumamatata can you confirm you are using a baseline OF8 installation and not foam-extend etc? The corrupted size vs prev_size error usually occurs when there are two functions with the same name in your environment during destruction, which happens quite often if you compile user libraries on top of your OpenFOAM and forget to

[2022-06-14 08:03] kazumamatata commented on #20
Thanks for the answer! Sorry, in the last message I forgot to attach the log file.

DLBFoam v1.0 version has been compiled and it was successful.
I compiled OpenFOAM8 by myself with intel compiler and intelMPI, to overcome the other problems related to lapack installation.

I will look as suggested for the wrong compilation. I will report if I have some update.

[Allrun.o2080040.txt](https://githu

[2022-06-14 09:24] kazumamatata opened #21 "Compile error with DLBFoam STANDALONE Lapack"
Hello again,

I wanted to report other issue I encounter when compiling **DLBFoam v1.1_OF8**.
To avoid intel MKL or other compilation problem , now I am trying to compile DLBFoam v1.1 with the **STANDALONE** lapack.
I am running OpenFOAM 8 provided by the supercomputer center, which uses gcc compiler and intelMPI. (That should be compiled properly and also validated).

However, there are some erro

[2022-06-14 15:07] blttkgl commented on #21
Are you testing the standalone installation on your cluster or personal laptop? If former, I'd advise to stick to the intel-mkl or openblas packages pre-installed in the cluster by your IT team and avoid using a standalone LAPACKinstallation. If you're on your PC, try:

(sudo) apt-get install liblapacke-dev

to install the lapacke-dev package, which at the moment works very well on my ubuntu 22.04

[2022-06-14 16:01] kahilah commented on #21
I fully agree with blttkgl, first, test this on your own machine and on cluster, use the system installation of MKL or OpenBlas instead of your own installation of Lapack. In that way you get the best performance and less problems.

Based on the error message I would make a wild guess that your lapack compilation or its linking has some issues. The error message states that "too few arguments to f

[2022-06-15 16:10] kazumamatata commented on #21
On my Ubuntu machine the DLBFoam could be compiled!
I used the `(sudo) apt-get install liblapacke-dev` and that worked well.

On the supercomputer system I have these two option:

**1. OpenFOAM/8 (gcc, compilation by IT) + STANDALONE (compilation by myself)**
2. OpenFOAM/8 (icc, compilation by myself) + MKL  (compilation by IT)

Currently I am trying this on **1.** Issue #20 is option 2.

On the s

[2022-06-15 18:41] kahilah commented on #21
Error message states: "undefined symbol: dgetrf_",

in which dgetr_ is a lapack function and when symbol is undefined, it suggests that the library linking is not succesfull. Most probably Lapack paths are wrong, or not set in the PATH environmental variable so your system can't find the right library. Another option is that the lapack compilation has not been succesfull so dlbfoam finds the heade

[2022-08-05 10:46] moreff commented on #18
Hi @blttkgl ,

Sorry for taking so long to respond.

There is of course an option to compile every possible combination, but I think we would like to avoid that and follow the way standard OF does it. I tried compilation of every combination I needed in DLBFoam as a temporary fix already and it works.

Another option is to enable dynamic compilation of DLBFoam with any combination of thermophysica

[2022-08-05 17:03] mahgadalla commented on #18
@moreff Just a quick question, how about renaming the classes to correspond to their TypeName strings, such that nothing changes wrt subdicts in the end-use. Would that actually work?
Of course, this way the naming convention will go off track a bit (i.e. uncapitalized initials + underscores) with regard to OF standards, but, perhaps this might help avoiding inconsistencies in the end-use!

[2022-08-05 17:06] moreff commented on #18
Right, this will work, this is what I am doing already.
Thank you for the suggestion!

[2022-08-14 15:39] #18 closed, assigned to moreff

[2022-08-14 15:44] #20 closed, assigned to nobody

[2022-08-16 19:30] mahgadalla opened #23 "Sanity check in seulex_LAPACK class methods raise warnings on built-in tutorials"
Before describing the issue, I have to mention this could be just related to stock OpenFOAM case setups, and not DLBFoam!!!

So, in [this link](https://github.com/Aalto-CFD/DLBFoam/blob/v1.1_OF9/src/ODE_DLB/ODESolvers/seulex_LAPACK/seulex_LAPACK.C#L187) there is a sanity check to ensure temperature values, computed in the solve vector, keep within the prescribed limits of NASA polynomials. So far,

[2022-08-16 20:22] kahilah commented on #23
So a bit of implementation history...I added that if-clause there in the very beginning while working with OF-2.4.x without any pyjac or any other add-ons. Including such a check was motivated by the fact that at that time OpenFoam was easily overshooting the temperature due to poor evaluation of the reaction rates and especially if your case was not well posed. I wanted to force the ODE solver to

[2022-08-18 17:19] moreff commented on #23
I think there might be a misunderstanding of the issue. This warning prints unphysical values of temperatures. For example, this is what I get on one of the iterations with counterFlowFlame2D_GRI:

[code]

It seems that ODE solver is simply diverging in some cells with a given integration time step and corresponding problem stiffness. As you mentioned, this is not just a check, it forces `seul()`

[2022-08-18 18:27] moreff commented on #23
It is also interesting to note that in this particular case (counterFlowFlame2D_GRI), these warnings trigger at cell temperatures around 1850-1900K and after some simulation time (not right after the start).
I decreased the time step twice from ~0.37ms and it removed warnings.

So if we keep the warning message, I would ideally:
1. Remove the ODE solver's temperature value from it, since it does n

[2022-08-18 18:36] kahilah commented on #23
You can remove the print if it bothers you, just keep the return. It's rather rare to see that message anyway (outside tutorials :D)

"these warnings trigger at cell temperatures around 1850-1900K and after some simulation time."
- This may be related to adjustable time stepping used in those tutorials?

[2022-08-19 06:04] moreff commented on #23
I tried both adjustable and fixed time steps, but these warnings are anyway delayed.

[2022-08-19 06:06] blttkgl commented on #23
I agree with all the possible solutions Ilya suggested, and the wording at the moment might make the user go look for an error where there may not be any (at least nothing super critical). As a suggestion, one option could be the print out the warning a number of times. When there is a meshing issue that is not critical to the simulation, CONVERGE CFD prints something like this:

'Warning: XYZ is

[2022-08-19 08:33] moreff commented on #23
@blttkgl this can be an option. But it would require some synchronization between the master process and others. Also, it still needs to be somehow clearly formulated...

I removed this message for now. If someone wants to see a warning if the chemistry solver diverges, debug switch can be added to the `system/controlDict`:
[code]
It will print this message:
https://github.com/Aalto-CFD/DLBFoam/bl

[2022-08-19 08:33] #23 closed, assigned to nobody

[2022-08-19 09:43] mahgadalla commented on #23
Thank you all for the elaboration. I also agree on the current fix to just remove the warning message while keeping it for debug, and to keep the return. At the end, both Standard and ode_pyJac models deliver stable integration for very stiff problems, while the additional stability check considered here could be more useful in avoiding under-/over-shooting possibly at the first few sub-iteratio

[2022-08-19 09:44] mahgadalla commented on #23
Thank you, @kahilah and all, for the elaboration. I also agree on the current fix to just remove the warning message while keeping it for debug, and to keep the return. At the end, both Standard and ode_pyJac models deliver stable integration for very stiff problems, while the additional stability check considered here could be more useful in avoiding under-/over-shooting possibly at the first few

[2022-09-17 21:50] blttkgl opened #24 "Change of state variable OFv10 onwards"
I know v1.1_OF10 branch is still in dev, but I just wanted to leave this issue here as a reminder that OpenFOAM switched the main state variable in chemistry class to mass fraction in v10 (https://github.com/OpenFOAM/OpenFOAM-10/commit/4f0dfc3bdf09ae6cf9caf0b806af6fabf3002186), which needs to be reflected within DLBFoam, especially v1.0 without pyJac. This includes refactoring the "getVariables" a

[2022-09-19 14:14] mahgadalla opened #26 "Polynomial type fits of mechanism transport data need to be 7th order"
Apparently the mechanism data IN THE TUTORIALS have been generated for 3rd order polynomial fits, consistently with Cantera and Chemkin. While this is not a problem for Sutherland models, using e.g. logPolynomial models results in OpenFOAM crashes due to that OpenFOAM forces 7th order polynomials. The package [ct2foam/pyjac2foam](https://github.com/kahilah/ct2foam) can be utilized to properly gene

[2022-09-19 17:08] drhcelik commented on #26
Just out of curiosity, is there anything related with this in DLBFoam? I feel like it is ct2foam side issue. I use logPolynomial feature quite a lot and changing ` transport_fits = utils.fit_ct_transport(data, poly_order=3)` in mech2foam-py in ct2foam  to 7 fixes this issue.

[2022-09-19 18:43] kahilah commented on #26
I think the only *issue* here is that [here](https://github.com/Aalto-CFD/DLBFoam/blob/v1.1_OF10_dev/tutorials/reactingFoam/shearlayer_DLB/constant/foam/thermo.foam) shows "muLogCoeffs<4>" defined while OF supports by default "muLogCoeffs<8>". However, in the tutorial one has sutherland model activated so no crash appears.

Note that while OpenFoam expects by default 8 coefficients, it doesn't mea

[2022-09-20 06:09] blttkgl commented on #26
I do not think this issue belongs here. As @kahilah pointed out, the ct2foam already takes care of this issue by padding zeros and spitting out 8 term entries. Considering the fact that 3rd and 4th order polynomials are pretty much the standard in e.g. Cantera or Chemkin, I agree with his point about issues that may arise from higher order polynomials. In either case this ticket belongs to either

[2022-09-20 06:15] drhcelik commented on #26
@kahilah I totally agree with your points, I just have got the impression that he wants the fit also should be in 7th order; that's why I suggested that.

[2022-09-20 06:37] mahgadalla commented on #26
Thank you @all for the insights. So, it is still recommended to utilize a polynomial of degree 3 type, while appending zeroes just for consistency. Maybe the question should be then elaborated on why OpenFOAM encourages the 7 degree type polynoms!
I will keep the issue open meanwhile, as the tutorials mechanisms are not updated, although those inside utilities dir are updated in the mentioned comm

[2022-09-20 06:45] kahilah commented on #26
I'd imagine that one may require high order polynomial when dealing with non-newtonian transport, high-temperature plasma-like fluids, and I have seen that some oils have almost like adiscontinuity in viscocity at some temperatures.

[2022-09-20 07:51] blttkgl commented on #26
Fixed v1.1_OF9: https://github.com/Aalto-CFD/DLBFoam/commit/546f27a05bad1127e959684dfc9402dfa2dff0ac
Fixed in v1.1_OF10 (will be merged soon via active pull request): https://github.com/Aalto-CFD/DLBFoam/commit/b859f471d2241dc61f9fd10d755628966857d086

[2022-09-20 07:51] #26 closed, assigned to nobody

[2022-09-20 07:53] blttkgl commented on #24
Please check the pull request https://github.com/Aalto-CFD/DLBFoam/pull/25 for fixing this issue.

[2022-09-20 11:49] blttkgl opened #27 "Integrating chemistry from old time properties"
OpenFOAM v9 introduced a change in how chemistry is calculated, by not updating the thermophysical properties of the cell within the PIMPLE loop. Since the chemistry integration occurs within the simulation timestep, it should be initialised with old time properties. At the moment this is not the case. I attach the commit below and keep this issue active to be addressed later for v9 and v10 distri

[2022-09-20 13:04] moreff commented on #24
@blttkgl It is interesting that the tests didn't capture this... Did you do any validations?

[2022-09-20 13:35] blttkgl commented on #24
I didn't take a very close look at the tests, but concentration and mass fraction are by definition very close concepts to one another, so I wouldn't be surprised if the tests were green even with this issue.

Currently the unittests are passed without any issues. If you checked the changes I made in the pull request, I only changed the principle variable to be mass fraction by removing the concen

[2022-09-21 18:41] moreff commented on #24
Ok, so this change only affects `loadBalancedChemistryModel`, since `pyJacLoadBalancedChemistryModel` is anyway using mass fraction.
Currently, validations cover only `pyJacLoadBalancedChemistryModel`, thus tests did not show any problems.
I did some validations and with your fixes, everything works fine

[2022-09-21 18:43] #24 closed, assigned to nobody

[2022-09-26 00:55] minzhang0929 opened #28 "ECN case can not ignite when using ode coupled with only loadbalanced method"
Hello,

I run an ECN case using ode_pyJac solver with loadbalanced_pyjc method. This case works well.

However, when I change to ode solver with loadbalanced method,  the case did not show any chemistry iterations excluding C12H26, O2, CO2, and H2O.

This is odd to me.

Do you know what the reason is? Looking forward to your help.

thanks a lot

[2022-09-26 07:39] moreff commented on #28
Hello,

Did you supply the kinetics mechanism in OpenFOAM format?

With pyJac we use a separate dynamically linked library (`libc_pyjac.so`), which in fact contains this kinetics information and routines for Jacobian and derivative (dYdt) evaluation.
When you don't use pyJac, standard OpenFOAM chemistry method is used (the case of `loadbalanced`).
So for the mechanism, you need to supply the react

[2022-09-26 11:06] minzhang0929 commented on #28
Thanks a lot.
It works now.

[2022-09-26 14:54] #28 closed, assigned to nobody

[2022-09-30 08:32] blttkgl opened #29 "non-existing chemical time scale function in pyjac model"
Hey,

The function [tc()](https://github.com/OpenFOAM/OpenFOAM-dev/blob/9dc91eb4796d884bea6d20a30aa6f9297f03349c/src/thermophysicalModels/chemistryModel/chemistryModel/chemistryModel.C#L446) that calculates the chemical time scale in chemistryModel uses the reaction coefficients from the stock chemistry solver to calculate a chemical time scale. This chemical time scale is then could be used in co

[2022-10-04 15:02] moreff opened #30 ""too few arguments to function dgetrs_" error (Ubuntu 22.04, standalone)"
The "standalone" installation type does not compile with e.g. Ubuntu 22.04 resulting in the following error:
[code]
This is caused by the [change of the `lapack.h` header file](https://github.com/Reference-LAPACK/lapack/pull/515) in LAPACK 3.9.1 (Ubuntu 22.04 uses netlib's LAPACK 3.10) to introduce additional size parameters to function definitions using [`LAPACK_FORTRAN_STRLEN_END` macro definiti

[2022-10-04 15:08] moreff commented on #21
I got some reports from different people and was able to reproduce the issue myself on Ubuntu 22.04.

It is caused by the [change of the `lapack.h` header file](https://github.com/Reference-LAPACK/lapack/pull/515) in LAPACK 3.9.1 (Ubuntu 22.04 uses netlib's LAPACK 3.10) to introduce additional size parameters to function definitions using [`LAPACK_FORTRAN_STRLEN_END` macro definition](https://gith

[2022-10-04 19:56] drhcelik commented on #21
This is known issue, I discussed this with @moreff a month ago maybe.
I work with Intel-MKL on my PC and Intel-MKL package that Ubuntu 22.04 uses works okay with current DLBFoam as well.
Basically, `sudo apt install intel-mkl` and then set your $MKL_ROOT environment variable as `/usr/include/mkl`

[2022-10-05 07:16] blttkgl commented on #21
Yes, I feel at this point standalone installation does not need to be supported if devs think it's too big of a hassle. Couple of notes why it exists in the first place to my knowledge:

1- Intel-mkl was not directly included in the package manager until Ubuntu 20.04. You could still install it, but you needed to jump through some hoops. Having a standalone version made things easier for a user wi

[2022-10-14 06:59] mactone commented on #21
I have the same issue with compiling.
I am using Ubuntu 22.04 LTS with OpenFOAM v9
Followed the steps on the youtube https://www.youtube.com/watch?v=1hwSffkuuY8

[code]

Still have exactly the same issue as @kazumamatata

Do I need to compile as root? I compile it in my run directory.

[2022-10-14 07:04] blttkgl commented on #21
Hey @mactone , please check the response by Ilya in https://github.com/Aalto-CFD/DLBFoam/issues/21#issuecomment-1267155043, and proposed temporary fix by Hasan in https://github.com/Aalto-CFD/DLBFoam/issues/21#issuecomment-1267510130 . You can use intel-MKL instead of Standalone LAPACK until the issue is fixed.

Bulut

[2022-10-14 08:49] mactone commented on #21
Thank you Bulut.
I tried the Hasan's way, installed the MKL and building with --platform=MKL
**It failed somewhere else as follow**

`
In file include from ODESolvers/seulex_LAPACK/seulex_LAPACK.C:28
ODESolvers/selex_LAPACK/seulex_LAPACK.H:55:10: fatal error: mkl_lapack.h: No such file or directory
`

I check my $MKLROOT is /usr/include/mkl/

There is kml_lapack.h in this path.

[2022-10-14 09:20] drhcelik commented on #21
I tested using virtual machine and at least in my system mkl header files end up in that folder. One way that you may check is where libmkl-dev is installed along with intel-mkl package. So, may you try `dpkg -L libmkl-dev` , this will show you where header file is and set that folder as your MKLROOT.

[2022-10-14 11:44] kahilah commented on #21
As users seem to have issues with these paths, we should probably extend the Allwmake MKL/openblas checks to not only look at whether the variable exists but if correct files are located in the path.

[2022-10-17 07:51] mactone commented on #21
![DLBfoam](https://user-images.githubusercontent.com/44308384/196119407-27c3a515-ebe7-40f2-88b9-a6fcee1fde6b.png)
Solved the MKL question, but got another error. Can' t go on. Anyone solved this issue?

[2022-10-17 11:32] drhcelik commented on #21
What is your gcc version and what is your operating system?
For instance CentOS have several bugs related to gcc (I am not sure if they are fixed or not) and this issue might be related to that.

[2022-10-17 23:59] mactone commented on #21
I am using Ubuntu 22.04 LTS with gcc (Ubuntu 11.2.0-19ubuntu1) 11.2.0

[2022-10-22 06:57] blttkgl opened #32 "ISAT compatibility"
I now have a branch on my fork where I extended ISAT to DLBFoam, and currently working on extending it to pyJac solvers: https://github.com/blttkgl/DLBFoam/tree/v1.1_OF10_ISAT

I am opening this issue to act as a placeholder, and let you know what we have under works for a near pull request.

Bulut

[2022-10-22 06:58] blttkgl commented on #29
Solved by https://github.com/Aalto-CFD/DLBFoam/pull/31

[2022-10-22 06:58] #29 closed, assigned to nobody

[2022-10-23 03:34] mactone commented on #21
Though I can't have the DLBfoam built on my Ubuntu workstation. But it is built smoothly on windows openfoam 9.

[2022-10-24 08:23] mactone commented on #21
I tried remove openfoam9 libapacke-dev and reinstall them.
Still I have the same issue as @kazumamatata

I wonder how @kazumamatata solved the issue?!

[2022-10-24 10:39] drhcelik commented on #21
Dear mactone,

What I feel that the problem you are having is not related to DLBFoam, so I feel like you should be able to use DLBFoam but I haven't tested it myself.

What I get from your error message, `MIGSIGSTKSZ` variable cannot be used in constexpr concept. There might be an update to Catch2 that I am not aware. I feel like, as a very dirty and temporary solution, you should be able to compi

[2022-10-24 12:10] mactone commented on #21
@drhcelik On my previous trial make with MKL as the platform. It seems that I've built  the c_pyjac_test, can I use DLBFoam without finishing the whole Allwmake process?

Using the tricks you mentioned, I need to change catch.hpp file as you suggested?
Thank you.

[2022-10-24 14:01] drhcelik commented on #21
I don't have access to Ubuntu 22.04 right now, so I am not able to test it but if you have  DLBFoam case already, you may test it or you may use one of the cases in this repository to test it. I feel like you are able to compile libraries but you fail at the tests. Yes, you may try to modify those lines in catch.hpp. The problem occurs at these lines I think:

https://github.com/Aalto-CFD/DLBFoam/

[2022-10-25 02:35] mactone commented on #21
Thank you @drhcelik, I finally resolved the issue through your instruction.

[2022-10-25 07:13] blttkgl commented on #21
Perhaps we could itemize the action needed to be taken to close this issue, and assign it to someone before this thread spirals out of control? @moreff  @kahilah  any suggestions where to start? I am in favor of removing the STANDALONE option if MKL's performance on AMD is now comparable to that of Intel architectures.

[2022-10-25 08:43] kahilah commented on #21
I think there are two questions here:

1) shall we support STANDALONE?
- I think standalone should be still included as there is no guarantee that MKL works everywhere. Perhaps MKL could be a new default or we mention these latest issues clearly in README as known issues.

2) How top help users having troubles with their library linking and paths?
- I think a simple shell script in Allwmake should

[2022-10-25 08:53] drhcelik commented on #21
As I remember, `sudo apt install intel-mkl ` installs everything into `/usr/include/mkl`. intel64 folder is in that folder directly but installing intel-mkl through Intel's packages, intel64 folder is installed under `$MKLROOT/lib`.

[2022-10-25 08:57] blttkgl commented on #21
I think we need to decide how much hand-holding we want to provide to the user. In most cases MKL comes preinstalled and MKLROOT is available if the compilation is on a cluster, and the assumption should be that user knows basic UNIX and/or they have access to their IT if they are attempting to compile this on a cluster. As for personal computer usage we could just provide a simple standalone comp

[2022-10-25 10:46] kahilah commented on #21
I agree with @blttkgl , one should not start building this based on how things are looking on certain distros. Compilation scripts should utilise $MKLROOT variable and then README should state that it is user responsibility to set this in their shell correctly. Then we can give examples for that.

[2022-10-26 05:32] mactone opened #33 "Solver crashed when using reduced mechanism"
Note: if this is not a issue, please close it.

I finally compiled the DLBFoam on Ubuntu with OpenFOAM9.
My case is runnable with GRI30 mechnism.
I also tested Syngas/NOx (2017) mechanism (https://www.universityofgalway.ie/combustionchemistrycentre/mechanismdownloads/#)

However, when I using reduced mechanism (Azevedo mechanism as attached zip file) to run the same case, it crashed from the first

[2022-10-26 06:01] blttkgl commented on #33
Have you read and followed the mechanism generation part of the README? https://github.com/Aalto-CFD/DLBFoam#mechanism-generation  If you are using a new mechanism, you need to create its species and thermo files, as well as the dynamic pyjac library you link to your solver through controlDict, have you done that already?

[2022-10-26 06:01] kahilah commented on #33
Have you generated and compiled the pyjac libraries for your mechanism according to the instructions?

Please provide a minimal case setup for easy testing.

[2022-10-26 06:06] mactone commented on #33
Yes. I've generated and compiled the pyjac libraries as shown in my post attachment AZ.zip.

Commands used as shown below, the grimech30 is just an example. When compiling AZ mechanism, I'll refer to the corresponding file.

`
python -m cantera.ck2cti --input=grimech30.dat(or other mechanism data) --themo=thermo30.dat --transport=transport.dat

python -m pyjac --lang c --last_species N2 --input gr

[2022-10-26 06:09] blttkgl commented on #33
Interesting, I don't see any generated files from ct2foam inside your zip file. Can you provide a simple test case with the generated libraries? Even a copy of one of the tutorials with your mechanism should suffice.

[2022-10-26 06:13] mactone commented on #33
I forgot to pack the sub folder into the zip file.
Please use the new zip file.
[AZ.zip](https://github.com/Aalto-CFD/DLBFoam/files/9866665/AZ.zip)

[2022-10-26 06:18] mactone commented on #33
I use the compiled Azevedo mechanism on counterFlowFlame2D case. It run well.

The issue I have is a start from the stable result from JL4 mechanism. I wonder if changing the mechanism is not permitted ?

[2022-10-26 06:18] blttkgl commented on #33
Sorry I should've been more clear, can you provide an OpenFOAM case setup with the mechanism already linked, so I can run the solver and replicate the error message you are getting?

[2022-10-26 06:24] blttkgl commented on #33
Wait, so are you saying that you run a simulation with one mechanism, then change the chemical mechanism, and continue the simulation? If that is the case, this is a practice where any number of things could be the culprit. 1) Are all the species in your first mechanism exists in your second mechanism? 2)Are you sure that you absolutely correct every single entry regarding chemical mechanism linki

[2022-10-26 06:29] mactone commented on #33
Yes. I run a simulation with one mechanism, then change the chemical mechanism afterwards. It's okay when I am not using pyJac.

As you suggested, I've rerun my case from 0 step and start with the Azevedo mechnism with pyJac. The "crash from 'start'" issue is cleared.

I think the issue is on me not on the DLBFoam.  Please forgive me for being stupid.

It's not related to the "issue". May I ask ho

[2022-10-26 06:38] blttkgl commented on #33
It's all good. Good luck with your simulations.

Please check the solve_buffer.py python script in the tutorial folder. https://github.com/Aalto-CFD/DLBFoam/blob/v1.1_OF9/tutorials/reactingFoam/shearlayer_DLB_pyJac/solve_buffer.py

[2022-10-26 06:38] #33 closed, assigned to nobody

[2022-11-09 18:06] moreff commented on #27
Thank you for pointing this out!
Fixed for OF9 and OF10 branches

[2022-11-09 18:06] #27 closed, assigned to nobody